//
//  AprimeAna.xcconfig
//  AprimeAna
//
//  Created by Maurik Holtrop on 6/4/10.
//  Copyright 2010 University of New Hampshire. All rights reserved.
//
#include "master.xcconfig"
PRODUCT_NAME=dst_maker
EXECUTABLE_PREFIX=
EXECUTABLE_EXTENSION=

// == Activate LCIO 
HEADER_SEARCH_PATHS=$(inherited) ${LCIO}/include
LIBRARY_SEARCH_PATHS=$(inherited) ${LCIOLIBDIR}
OTHER_LDFLAGS=$(inherited) ${LCIOLIBS}
